{{/* https://schema.org/Product */}}
{{/* https://schema.org/Offer */}}
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Product",
    "name": {{ .Title | plainify }},
    "url": {{ .Permalink }},

  {{- with .Params.image }}
    "image": {{ .src | absURL }},
  {{- end -}}

  {{- with .Date }}
    "releaseDate": {{ . }},
  {{ end -}}

  {{- if .Content }}
    {{- with .Content }}
      "description": {{ partial "func/PrepareData.html" . }},
    {{ end -}}
  {{ else }}
    {{- with .Params.description }}
      "description": {{ partial "func/PrepareData.html" . }},
    {{ end -}}
  {{ end -}}

  {{- with .Params.sku }}
    "sku": {{ . | plainify }},
  {{ end -}}
  
  {{- with .GetTerms "products_categories" }}
    {{ range . }}
      "category": {{ .Title | plainify }},
    {{ end }}
  {{ end -}}

  {{- with .Params.offer }}
    "offers": {
      "@type": "Offer",
      "businessFunction": "sell",
    
    {{- with .sold }}
      "availability": "https://schema.org/OutOfStock",
    {{ else }}
      "availability": "https://schema.org/InStock",
    {{- end -}}

    {{- if .price }}
      {{- $discount := .discount | default false -}}
      {{- $realPrice := partial "func/GetDiscountedPrice" (dict "price" .price "discount" $discount) }}
      "price": {{ $realPrice }},

      {{- $currency := $.Site.Params.currency | default "EUR" -}}
      {{- with $currency }}
      "priceCurrency": {{ . }}
      {{- end }}
    {{- end }}
    },
  {{ end -}}

  }
</script>