{{ with .Params.offer }}
  <div itemprop="offers" itemscope itemtype="https://schema.org/Offer">
    {{ with .sold }}
      <meta itemprop="availability" content="https://schema.org/OutOfStock">
    {{ else }}
      <meta itemprop="availability" content="https://schema.org/InStock">
    {{ end }}
    {{ if .price }}
      {{ $discount := .discount | default false }}
      {{ $realPrice := partial "func/GetDiscountedPrice" (dict "price" .price "discount" $discount) }}
      <p class="pricing" itemprop="price" content="{{ $realPrice }}">{{ partial "commons/price" . }}</p>
      <meta itemprop="priceCurrency" content="{{ $.Site.Params.currency | default "EUR" }}">
    {{ end }}
  </div>
{{ end }}